@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/*
- Strong cyan: hsl(172, 67%, 45%)
- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%) */

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Space Mono", "Trebuchet MS", "Verdana";
}

body {
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
}


/* Image classes */
.logo {
  display: block;
  margin: auto;
  width: 100px;
}


.logo-container {
  margin-bottom: -2em;
  padding: 4em 0 5.9em 0;
  width: 100%;
  background-color: hsl(185, 41%, 84%);
}

img.badge {
  position: absolute;
  margin: 10px;
  height: 1.8em;
}


/* Container classes */
.main-container {
  margin: 0 auto;
  border-radius: 20px;
  width: 90%;
  max-width: 1000px;
  background-color: hsl(189, 41%, 97%);
}

.input-container {
  margin: 30px;
  width: calc(50% - 10em);
  min-width: 230px;
  max-width: 500px;
}

.results-container {
  margin: 30px;
  border-radius: 20px;
  padding: 2em;
  width: calc(50% - 10em);
  min-width: 230px;
  max-width: 350px;
  background-color: hsl(183, 100%, 15%);
}

/* Results container classes */
.results-table {
  display: flex;
  width: 100%;
  height: 6em;
}


.white-text {
  font-size: 1.3em;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.subtext {
  display: block;
  margin-top: 0;
  font-size: 0.8em;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
}

.result {
  font-size: 2.3em;
  font-weight: 600;
  text-align: right;
  color: hsl(172, 67%, 45%);
}

/* Text classes */
h2 {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
}

/* Input fields classes */
input {
  color: hsl(183, 100%, 15%);
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

input:focus {
  outline-color: hsl(172, 67%, 45%);
}

::placeholder {
  color: rgb(180, 180, 180);
}

#bill, #numOfPeople {
  display: block;
  margin-bottom: 2em;
  border: none;
  border-radius: 5px;
  padding: 0.2em;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  font-size: 2em;
  font-weight: 600;

}

/* Button classes */
.tip-buttons {
  margin-bottom: 2em;
}

.tip-button {
  display: inline-block;
  margin: 0 0.2em 0.2em 0;
  border: solid hsla(0,0%,0%,0); /* transparent border */
  border-radius: 5px;
  padding: 0.15em;
  width: 45%;
  box-sizing: border-box;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

#customTip {
  background-color: hsl(0, 0%, 95%);
  color: hsl(183, 100%, 15%);
}

#resetButton  {
  display: block;
  margin: 25px;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
  height: 2.5em;
  box-sizing: border-box;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
}


/* Link classes */
a {
  text-decoration: none;
}

a:hover, a:hover#resetButton {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

/* Interactive classes */
.active {
  border: solid hsl(172, 67%, 45%)!important;
  background-color: hsl(172, 67%, 45%);
}

.grayout {
  background-color: hsl(183, 100%, 20%)!important;
  cursor: default;
}


/* Remove arrows for number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* Layout  classes */
.main-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > * {
  flex: 1 1 default
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  align-self: flex-end;
}

.width_30 {
  width: 30%;
}

.width_70 {
  width: 70%;
}

.min-width_6ch {
  min-width: 6ch;
}

.min-width_10ch {
  min-width: 10ch;
}


/* Media querries */
@media (max-width: 700px) {
  .input-container {
    width: 100%;
  }

  .results-container {
    width: 100%
  }

  .main-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .tip-button {
    width: 30%;
  }
}
