.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > * {
flex: 0 1 auto;
}


.main {
  max-width: 400px;
}


.content1 {
  background: gray;
  min-width: 200px;
  max-width: 300px;
}

.content2 {
  background: lightgray;
  min-width: 100px;
  max-width: 150px;
}

p {
  max-width: 100px;
  min-width: 50px;
}
